/* Dashboard Styles */
.dashboard {
  padding: 40px;
  background-color: #434a42;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 40px auto;
  max-width: 800px;
  color: #e4e4e4;
}


.dashboard h1 {
  font-size: 28px;
  color: #e1ca96;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard canvas {
  background-color: #434a42;
  padding: 15px;
  border-radius: 10px;
}


